In [1]:
import numpy as np
import pandas as pd

In [2]:
#Importing the scraped lines dataset
TNG_df_byep = pd.read_csv(r'C:\Users\Eric\startrek-dash-app\assets\bar_chart_TNG')
#Quick spot check
TNG_df_byep.head()
#changing character names to index
TNG_df_byep = TNG_df_byep.rename(columns={'Unnamed: 0' : 'index'})
TNG_df_byep = TNG_df_byep.set_index('index')
TNG_df_byep.head()

,Episode 1 & 2,Episode 3,Episode 4,Episode 5,Episode 6,Episode 7,Episode 8,Episode 9,Episode 10,Episode 11,...,Episode 168,Episode 169,Episode 170,Episode 171,Episode 172,Episode 173,Episode 174,Episode 175,Episode 176,Episode 177
index,,,,,,,,,,,,,,,,,,,,,
AARON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
ACCOLAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
ADMINISTRATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
ADONIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
ADTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [3]:
acc = TNG_df_byep.T
acc.describe()

index,AARON,ACCOLAN,ADMINISTRATOR,ADONIS,ADTH,AIDE,AJUR,ALANS,ALBERT,ALEXANA,...,YAREENA,YOG,YOUNG,YRANAC,YRANEC,YUTA,ZAHEVA,ZAYNAR,ZERO,ZORN
count,153.000000,161.000000,53.000000,147.000000,90.000000,18.000000,111.000000,137.000000,59.000000,118.000000,...,174.000000,5.000000,58.000000,22.000000,21.000000,121.000000,87.000000,119.000000,163.000000,176.000000
mean,0.137255,0.049689,0.245283,0.156463,0.011111,0.111111,0.126126,0.021898,0.101695,0.262712,...,0.091954,1.200000,0.137931,0.954545,0.047619,0.413223,0.011494,0.042017,0.331288,0.232955
std,1.697749,0.630488,1.785687,1.897008,0.105409,0.471405,1.328821,0.256307,0.781133,2.853781,...,1.212957,2.683282,1.050451,4.477215,0.218218,4.545455,0.107211,0.458349,4.229606,3.090491
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,21.000000,8.000000,13.000000,23.000000,1.000000,2.000000,14.000000,3.000000,6.000000,31.000000,...,16.000000,6.000000,8.000000,21.000000,1.000000,50.000000,1.000000,5.000000,54.000000,41.000000

In [4]:
acc = acc.fillna(0)
acc.tail()

index,AARON,ACCOLAN,ADMINISTRATOR,ADONIS,ADTH,AIDE,AJUR,ALANS,ALBERT,ALEXANA,...,YAREENA,YOG,YOUNG,YRANAC,YRANEC,YUTA,ZAHEVA,ZAYNAR,ZERO,ZORN
Episode 173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Episode 174,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Episode 175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Episode 176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Episode 177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#loading the dataframe that finds the total lines spoken per character and
#just grabs the top 20
Top20 = pd.read_csv(r'C:\Users\Eric\startrek-dash-app\assets\top20')

In [6]:
#taking the ratings data from a different dataset
ratings_df = pd.read_csv('https://raw.githubusercontent.com/rikunert/Star_Trek_ratings/master/Star_Trek_data.csv')

In [7]:
#listing out which characters spoke the most
characters = Top20['Character']
characters

0        PICARD
1         RIKER
2          DATA
3       LAFORGE
4          WORF
5       CRUSHER
6          TROI
7        WESLEY
8      COMPUTER
9         TASHA
10      PULASKI
11      O'BRIEN
12       GUINAN
13      LWAXANA
14      BARCLAY
15    ALEXANDER
16         VASH
17     K'EHLEYR
18        OGAWA
19      JELLICO
Name: Character, dtype: object

In [8]:
#slicing out just the TNG ratings
#from all ST ratings
tng_ratings = ratings_df[ratings_df.title=='Star Trek: The Next Generation']
tng_ratings.head()

,Unnamed: 0,date,episode,rating,title
80,0,1987-09-26,Encounter at Farpoint,6.9,Star Trek: The Next Generation
81,0,1987-10-03,The Naked Now,6.5,Star Trek: The Next Generation
82,0,1987-10-10,Code of Honor,5.2,Star Trek: The Next Generation
83,0,1987-10-17,The Last Outpost,6.3,Star Trek: The Next Generation
84,0,1987-10-24,Where No One Has Gone Before,7.6,Star Trek: The Next Generation

In [9]:
acc = acc.reset_index()
tng_ratings = tng_ratings.reset_index()

In [10]:
acc['ratings'] = tng_ratings['rating']
acc.head()

index,index,AARON,ACCOLAN,ADMINISTRATOR,ADONIS,ADTH,AIDE,AJUR,ALANS,ALBERT,...,YOG,YOUNG,YRANAC,YRANEC,YUTA,ZAHEVA,ZAYNAR,ZERO,ZORN,ratings
0,Episode 1 & 2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.0,6.9
1,Episode 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.5
2,Episode 4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.2
3,Episode 5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.3
4,Episode 6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.6

In [11]:
acc = acc.drop(columns = 'index')
acc.head()

index,AARON,ACCOLAN,ADMINISTRATOR,ADONIS,ADTH,AIDE,AJUR,ALANS,ALBERT,ALEXANA,...,YOG,YOUNG,YRANAC,YRANEC,YUTA,ZAHEVA,ZAYNAR,ZERO,ZORN,ratings
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.0,6.9
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.5
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.6

In [12]:
# export_rf_df = acc.to_csv(r'C:\Users\Eric\startrek-dash-app\assets\acc')

In [13]:
#splitting the tidy_df into X and y
X = acc.drop(columns = ['ratings'])
y = acc['ratings']
y.head()

0    6.9
1    6.5
2    5.2
3    6.3
4    7.6
Name: ratings, dtype: float64

In [14]:
#adding a few libs I will need and splitting initially into train and test
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
import category_encoders as ce

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [15]:
#further splitting into a val set
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
import category_encoders as ce
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

# creating the simple pipeline that we will test
# our character data through

lr = make_pipeline(
    LinearRegression(),  
)

k = 3
scores = cross_val_score(t_pose, X_train, y_train, cv=k, 
                         scoring='neg_mean_squared_error')
print(f'MSE for {k} folds:', -scores)

In [ ]:
# fitting our linear regression model
t_pose.fit(X_train, y_train)

In [ ]:
t_pose.score(X_test, y_test)

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score


pipeline = make_pipeline(
    RandomForestRegressor(n_estimators=100, n_jobs=-1, random_state=42)
)

k = 20
scores = cross_val_score(pipeline, X_train, y_train, cv=k, 
                         scoring='neg_mean_squared_error')
print(f'MSE for {k} folds:', -scores)

MSE for 20 folds: [0.48925771 0.387993   0.60677871 2.32464686 0.90284414 0.65458571
 1.40234683 0.58852167 0.32953467 0.8188785  0.91614233 0.52770217
 0.300053   0.37776067 0.82899283 1.3164125  0.37606583 0.23459617
 1.742496   0.489897  ]

In [26]:
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler

def rfr_model(X, y):
# Perform Grid-Search
    gsc = GridSearchCV(
        estimator=RandomForestRegressor(),
        param_grid={
            'max_depth': range(3,7),
            'n_estimators': (10, 50, 100, 1000),
        },
        cv=5, scoring='neg_mean_squared_error', verbose=0, n_jobs=-1)
    
    grid_result = gsc.fit(X, y)
    best_params = grid_result.best_params_
    
    rfr = RandomForestRegressor(max_depth=best_params["max_depth"], n_estimators=best_params["n_estimators"], random_state=False, verbose=False)
    # Perform K-Fold CV
    scores = cross_val_score(rfr, X, y, cv=10, scoring='neg_mean_absolute_error')

    return scores

In [27]:
rfr_model(X_train, y_train)

C:\Users\Eric\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

array([-0.5050174 , -0.81079955, -0.9567026 , -0.9209119 , -0.61800385,
       -0.76036503, -0.49721076, -0.80760223, -0.45155578, -0.79162801])

In [33]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.linear_model import Ridge



pipeline1 = make_pipeline(
    StandardScaler(), 
    SelectKBest(f_regression), 
    Ridge()
)

param_distributions = {
    'selectkbest__k': range(1, len(X_train.columns)+1), 
    'ridge__alpha': [0.1, 1, 10], 
}

search = RandomizedSearchCV(
    pipeline1, 
    param_distributions=param_distributions, 
    n_iter=100, 
    cv=5, 
    scoring='neg_mean_absolute_error', 
    verbose=10, 
    return_train_score=True, 
    n_jobs=-1
)

search.fit(X_train, y_train);

Fitting 5 folds for each of 100 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1847s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done  45 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1755s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Done  63 tasks      | elapsed:    5.2s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1982s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Done  99 tasks      | elapsed:    5.4s
[Parallel(n_jobs=-1)]: Done 151 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done 271 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    7.1s finished
C:\Users\Eric\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\Eric\Anaconda3\lib\site-packages\sklearn\feature_selection\univariate_selection.py:299: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms
C:\Users\Eric\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\Eric\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\Eric\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1831: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [34]:
print('Best hyperparameters', search.best_params_)
print('Cross-validation MAE', -search.best_score_)

Best hyperparameters {'selectkbest__k': 12, 'ridge__alpha': 0.1}
Cross-validation MAE 1.7915141909675387

In [36]:
print('Model Hyperparameters:')
print(pipeline.named_steps['randomforestregressor'])

Model Hyperparameters:
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [ ]:
import pandas_profiling
acc.profile_report(style={'full_width':True})

In [ ]:
#pulling out just the dates
tng_date = tng_ratings[['rating']]
row_tng_date = tng_date.T
row_tng_date

In [ ]:
#setting dates to the corresponding episode numbers
row_tng_date.columns = [list(TNG_df_byep)]
# index_rtg = row_tng_date.set_index(index_rtg.columns[0])
# row_tng_date = row_tng_date.str.replace('-', '')
row_tng_date

In [ ]:
#making the dates a df
TNG_df_byep.head()

In [ ]:
T = TNG_df_byep.T
T['s'] = T.sum(axis=1)
T['s'].mean()
#calculating the average lines per episode

In [ ]:
#melting data to form a Tidy Data DF
#this will isolate observable instances of lines per episode

episode_date_dict = dict(zip(TNG_df_byep.columns.values,row_tng_date.values.reshape(-1)))
exp = TNG_df_byep.reset_index().melt(id_vars='index')
exp['episode_air_date']=exp['variable'].map(episode_date_dict)
exp.head()

In [ ]:
#changing the column names to reflect values

exp = exp.rename(columns={'index':'Character', 
               'variable':'Episode', 
               'value':'Line_Count', 
               'episode_air_date':'Rating'
})
exp

In [ ]:
#grabbing only the characters in the 
#top20 character list we created earlier
testing = exp[exp['Character'].isin(characters)]
testing['Character'].value_counts()

In [ ]:
#renaming to reflect what is in the DF
tidy_TNG = testing

In [ ]:
# df = tidy_TNG['Episode']

# def season_row(df):
#     for int in df:
#         if int <= 26:
#             return 'Season 1'
#         else:
#             return 'Higher Season'
# df.apply(season_row)

In [ ]:
#creating string with episode numbers
['Episode ' + str(number) for number in range(26, 49)]

In [ ]:
def make_season(first, last):
    return ['Episode ' + str(number) for number in range(first, last+1)]

season_1 = ['Episode 1 & 2', 'Episode 3', 'Episode 4', 'Episode 5', 'Episode 6', 'Episode 7', 'Episode 8', 
            'Episode 9', 'Episode 10', 'Episode 11', 'Episode 12', 'Episode 13', 'Episode 14', 'Episode 15', 
            'Episode 16', 'Episode 17', 'Episode 18', 'Episode 19', 'Episode 20', 'Episode 21', 'Episode 22', 
            'Episode 23', 'Episode 24', 'Episode 25', 'Episode 26', 'Episode 27']
season_2 = make_season(26, 48)
season_3 = make_season(49, 74)
season_4 = make_season(75, 100)
season_5 = make_season(101, 126)
season_6 = make_season(127, 152)
season_7 = make_season(153, 177)

In [ ]:

# season_2 = []
# season_3 = [] 
# season_4 = []
# season_5 = []
# season_6 = []
# season_7 = []

# for int in col(Episode):
#     if 
# #I want the function to create a row with values determined by 
# #episode numbers in Episode

# def season_cat(cols):
#     Seasons = []
    
#     for i in tidy_TNG['']
    
#     if i == df.iloc[] < 65

In [ ]:
# tidy_TNG['Season'] = tidy_TNG['Episode'].apply()

In [ ]:
# if x == 'Episode 1 & 2':
#     return 'Season 1'
# elif x == 'Episode 3':
#     return 'Season 2'
# elif x ==

In [ ]:
# if x in season_1:
#     return 'Season 1'
# elif x in season_2:
#     return 'Season 2'
# elif x in season_3:
#     return 'Season 3'
# elif x in season_4:
#     return 'Season 4'
# elif x in season_5:
#     return 'Season 5'
# elif x in season_6:
#     return 'Season 6'
# else:
#     return 'Season 7'

In [ ]:
# 'Episode 3' in season_1

In [ ]:
def make_season(x):
    if x in season_1:
        return 1
    elif x in season_2:
        return 2
    elif x in season_3:
        return 3
    elif x in season_4:
        return 4
    elif x in season_5:
        return 5
    elif x in season_6:
        return 6
    else:
        return 7

In [ ]:
# ['I am ' + str(float(str(num**2))) + ' years old' for num in range(1, 11)]

In [ ]:
#printing to spot check values
tidy_TNG = tidy_TNG.reset_index()
tidy_TNG.head()

In [ ]:
# tidy_TNG = tidy_TNG.drop(['index'], axis=1)

In [ ]:
# tidy_TNG

# season1 = iloc range

# df['Seasons'] =

In [ ]:
tidy_TNG['Seasons'] = tidy_TNG['Episode'].apply(make_season)
tidy_TNG

In [ ]:
df_each_season = tidy_TNG[tidy_TNG['Seasons'] == 7]
df_each_rating = df_each_season.groupby('Episode')['Rating'].mean().reset_index()
df_each_rating

In [ ]:
df_each_character = df_each_season[df_each_season['Character'] == 'DATA']

df_each_lines = df_each_character.groupby('Episode')['Line_Count'].mean().reset_index()
df_each_lines

In [ ]:
{season: int(season) for season in tidy_TNG['Seasons'].unique()}

In [ ]:
df_each_rating['Episode']

In [ ]:
import matplotlib.pyplot as plt

plt.plot(
    df_each_rating['Episode'],
    df_each_rating['Rating']
)

In [ ]:
exported_tidy = tidy_TNG.to_csv(r'C:\Users\Eric\startrek-dash-app\assets\df')

In [ ]:
tidy_TNG['Seasons'].max()

In [ ]:
#this is our average rating for a TNG episode
#this will act as our baseline metric
tidy_TNG['Rating'].mean()

In [ ]:
#replacing nan values in the Line_Count column
tidy_TNG['Line_Count'].fillna(0, inplace=True)
tidy_TNG.isnull().sum()

In [ ]:
#creating a df to predict on later
#with only two speaking episodes in TNG Spock
#lets us easily see what our model is predicting 
spock = exp[exp['Character']=='SPOCK']
spock_rating_ep108 = spock[spock['Episode']=='Episode 108']
spock_rating_ep108 = spock_rating_ep108.drop(['Episode', 'Rating'], axis=1)
spock_rating_ep108

In [ ]:
#splitting the tidy_df into X and y
X = tidy_TNG[['Character', 'Line_Count']]
y = tidy_TNG['Rating']
X.head()

In [ ]:
#adding a few libs I will need and splitting initially into train and test
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
import category_encoders as ce

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [ ]:
#checking the size of the train and test split
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
#further splitting into a val set
# X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=42)
X_train

In [ ]:
#checking the shape of the train and val splits
# X_train.shape, X_val.shape, y_train.shape, y_val.shape
#our observations are large but the useful observations may be tiny
#considering the top 20 cast members are the only ones that will seriously
#have an impact

In [ ]:
#first step is to get a new baseline on the y_val split
# y_val.mean()
#slightly higher but essentially equal

In [ ]:
#checking direct correlations
tidy_TNG.corr()
#-1%

In [ ]:
import plotly.express as px

In [ ]:
px.scatter(tidy_TNG, x='Line_Count', y='Rating', color='Character', opacity=0.05) # opacity=0.05

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
import category_encoders as ce
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

# creating the simple pipeline that will encode our
# Character data 


linear = make_pipeline(
    ce.OrdinalEncoder(),
    LinearRegression(),  
)

k = 3
scores = cross_val_score(linear, X_train, y_train, cv=k, 
                         scoring='neg_mean_squared_error')
print(f'MSE for {k} folds:', -scores)

In [ ]:
# fitting our linear regression model
linear.fit(X_train, y_train)

In [ ]:
# predicting from the data we pulled early on

linear.predict(spock_rating_ep108)

In [ ]:
spock_rating_ep108

In [ ]:
#getting the R^2 value as our LR is
#tested against the test set we split
linear.score(X_test, y_test)

In [ ]:
#dumping the pipeline so that we can use it in 
#the dash app
from joblib import dump
dump(linear, 'linear.joblib')

In [ ]:
import joblib
import sklearn
import category_encoders as ce
import pandas as pd
import numpy as np

print(f'joblib=={joblib.__version__}')
print(f'scikit-learn=={sklearn.__version__}')
print(f'category_encoders=={ce.__version__}')
print(f'pandas=={joblib.__version__}')
print(f'numpy=={joblib.__version__}')